* { padding: 0; margin: 0; outline: 0; }
body { font: 14px/21px Arial, sans-serif; color: #000; padding: 240px 0 0; }

#bg { position: fixed; top: 0; left: 0; width: 100%; height: auto; }

a { color: #ccc; cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }

a img { border: 0; }
a.img img { display: block; border: 1px solid #ccc; }

input, select, textarea { font: 11px Arial, sans-serif; color: #000; }
.field, textarea { background: #fff; border: 1px solid #ccc; }

input.checkbox, input.radio { float: left; display: inline; height: 13px; width: 13px; margin: 2px 5px 0 0; }
label.checkbox, label.radio { float: left; display: inline; line-height: 13px; }

input.submit { border: 0; cursor: pointer; }

input::-moz-focus-inner { border: none; padding: 0; }

textarea { overflow: auto;  resize: none; }
fieldset { border: 0; padding-bottom: 15px; }

ul, ol { list-style: none outside none; }

.ar { display: block; text-align: right; }
.al { display: block; text-align: left; }
.ac { display: block; text-align: center; }

.fr { float: right !important; display: inline; }
.fl { float: left !important; display: inline; }

.cl { display: block; clear: both; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.hidden { display: none; }
.rel { position: relative; }

.shell { width: 960px; margin: 0 auto; }

h2, h3, h4, h5 { }
h2 { margin: 0 0 20px; font: bold 50px Arial, sans-serif; }
h3 { margin: 0 0 20px; font: bold 25px Arial, sans-serif; }
h4 {}
h5 {}

p { padding-bottom: 15px; }
small { font-size: 10px; }

header, nav, section, article, aside, footer { display: block; }


#mainbox { width: 800px; min-height: 402px; position: relative; margin: 0 auto; }
.mainbox-shadow { position: absolute; bottom: -53px; left: 0; width: 802px; height: 53px; background: url(images/mainbox-shadow.png); }


nav { position: absolute; z-index: 100; top: 48px; left: -13px;  width: 49px; }

.nav-top { width: 49px; height: 82px; }
.nav-bottom { width: 49px; height: 83px; }

nav .rel { float: left; display: inline; width: 49px; top: -65px; margin-bottom: -130px; }
nav li { position: relative; padding: 0 0 10px 12px; height: 26px; }
nav li span { position: absolute; top: -5px; right: 40px; width: 99px; height: 32px; padding: 0 3px 0 0; background: url(images/nav-popup.png); font: 12px/32px Arial, sans-serif; color: #5e6666; text-align: center; }
nav li a { display: block; width: 24px; height: 26px; background-repeat: no-repeat; background-position: 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }

nav li a.home { background-position: 2px 0; }
nav li a.home:hover,
nav li.active a.home { background-position: -22px 0; }

nav li a.about { background-position: 1px -26px; }
nav li a.about:hover,
nav li.active a.about { background-position: -23px -26px; }

nav li a.portfolio { background-position: 0 -52px; }
nav li a.portfolio:hover,
nav li.active a.portfolio { background-position: -24px -52px; }

nav li a.contact { background-position: 0 -76px; }
nav li a.contact:hover,
nav li.active a.contact { background-position: -24px -76px; }

/*
	Content
*/

#content { position: relative; overflow: hidden; height: 402px; }
#content .container { padding: 60px 0 15px 70px; height: 327px; } 
#content .current { position: relative; top: 0; }

#content .wrapper { position: absolute; }

/*
	Landing
*/

#landing { padding-left: 0 !important; }
#landing h2 { padding: 50px 0 0; text-align: center; }
#landing h3 { text-align: center; color: #FFFFFF; }
#landing .title { width: 478px; margin: 0 auto; text-align: center; font: 20px/40px "Trebuchet MS", Arial, sans-serif; }

/*
	About
*/

#about { padding-right: 28px !important; width: 702px !important; }
#about img { float: right; display: inline; margin: 0 0 0 20px; }

/*
	Portfolio
*/

.gallery { position: relative; padding: 20px 0; width: 688px; height: 174px; }
.gallery .fs-prev,
.gallery .fs-next { position: absolute; top: 82px; left: -5px; width: 12px; height: 17px; font-size: 0; line-height: 0; text-indent: -4000px; }
.gallery .fs-next { left: auto; right: -25px; background-position: -12px 0; }

.gallery .fs-container,
.gallery .fs-clip-container { width: 672px; height: 159px; }
.gallery .fs-clip-container { position: relative; overflow: hidden; }

.gallery .fs-scrollbar { position: relative; width: 667px; height: 15px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.gallery .fs-scrolltrack { height: 15px; cursor: pointer; }
.gallery .fs-scrollhandle { position: absolute; height: 15px; width: 100px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.gallery .fs-scrollhandle span { display: block; text-align: center; font-size: 9px; height: 15px; cursor: ew-resize; background: url(images/scroll-handle.png) no-repeat center center; }


.gallery .holder { padding: 0 0 0 20px; }
.gallery li,
.gallery li.fs-item { float: left; display: inline; width: 168px; height: 139px; }
.gallery li a img { display: block; padding: 5px 7px 6px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }


/*
	Contact
*/

#contact .contact-form { position: relative; float: left; display: inline; width: 210px; margin: 0 83px 0 0; }
#contact .contact-form p { font-style: 12px; line-height: 17px; }
#contact .contact-form .field { display: block; width: 194px; padding: 4px 7px; margin: 0 0 8px; font: 12px Arial, sans-serif; }
#contact .contact-form textarea.field { height: 75px; }
#contact .contact-form .submit { display: block; width: 76px; height: 20px; margin: 0 0 0 auto; font: 11px "Myriad Pro", Arial, sans-serif; text-transform: uppercase; }

#contact .social-networks { float: left; display: inline; width: 420px; color: #FFFFFF; }
#contact .social-networks li { float: left; display: inline; width: 210px; margin: 0 0 25px; line-height: 18px; color: #FFFFFF; }
#contact .social-networks li a { display: block; padding: 0 0 0 35px; color: #FFFFFF; }
#contact .social-networks li a span { display: block; }
#contact .social-networks li.twitter a { background: url(images/twitter.png) no-repeat 0 0; }
#contact .social-networks li.github a { background: url(images/github.png) no-repeat 0 0; }
#contact .social-networks li.instagram a { background: url(images/instagram.png) no-repeat 0 0; }
#contact .social-networks li.youtube a { background: url(images/youtube.png) no-repeat 0 0; }
#contact .social-networks li.linkedin a { background: url(images/linkedin.png) no-repeat 0 0; }
#contact .social-networks li.discord a { background: url(images/discord.png) no-repeat 0 0; }
#contact .social-networks li.wordpress a { background: url(images/wordpress.png) no-repeat 0 0; }
#contact .social-networks li.digg a { background: url(images/digg.png) no-repeat 0 0; }

#contact .success { display: none; position: absolute; top: 0; left: 0; width: 210px; height: 30px; line-height: 30px; border: 1px solid #4fb427; background: #5cef22; color: #fff; text-align: center; }
